/* My first message */

.first-message {
    display: flex;
    align-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 6em;
}

.first-message p {
    font-size: 2em;
}

.line {
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);
    font-size: 180%;
    position: relative;
    top: 50%;
    margin: 0 auto;
    border-right: 2px solid rgba(255, 255, 255, .75);
}

.my-info {
    color: #16d0ff;
    text-decoration: underline;
}

.my-info:hover {
    cursor: pointer;
    color: #167bff;
}

.first-message img {
    height: 100%;
    width: auto;
    margin: .5em auto;
}


/* Animation */

.anim-typewriter-1 {
    animation: typewriter-1 .5s steps(4) .5s 1 normal both, blinkTextCursor 1000ms steps(44) 3 normal forwards;
}

.anim-typewriter-2 {
    animation: typewriter-2 1.7s steps(15) 3s 1 normal both, blinkTextCursor-currentLine 1500ms steps(44) 2.8s 3 normal both;
}

.anim-typewriter-3 {
    animation: typewriter-3 2s steps(25) 7.5s 1 normal both, blinkTextCursor-currentLine 1500ms steps(44) 7s 3 normal both;
}

.anim-typewriter-4 {
    animation: typewriter-4 1.2s steps(13) 11.5s 1 normal both, blinkTextCursor-lastLine 1000ms steps(44) 11s infinite normal both;
}

.anim-clickme {
    animation: click-me 1s steps(10) 13.5s infinite normal both;
}

@keyframes typewriter-1 {
    from {
        width: 0;
    }
    to {
        width: 2.5em;
    }
}

@keyframes typewriter-2 {
    from {
        width: 0;
    }
    to {
        width: 13em;
    }
}

@keyframes typewriter-3 {
    from {
        width: 0;
    }
    to {
        width: 17em;
    }
}

@keyframes typewriter-4 {
    from {
        width: 0;
    }
    to {
        width: 10em;
    }
}

@keyframes blinkTextCursor {
    from {
        border-right-color: rgba(255, 255, 255, .75);
    }
    to {
        border-right-color: transparent;
    }
}

@keyframes blinkTextCursor-currentLine {
    0% {
        border-right-color: transparent;
    }
    50% {
        border-right-color: rgba(255, 255, 255, .75);
    }
    100% {
        border-right-color: transparent;
    }
}

@keyframes blinkTextCursor-lastLine {
    from {
        border-right-color: transparent;
    }
    to {
        border-right-color: rgba(255, 255, 255, .75);
    }
}

@keyframes click-me {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@media only screen and (max-width: 576px) {
    .first-message p {
        font-size: 1.2em;
    }
}